<h1> <%= @gallery.name %> </h1>

<%= link_to "Edit" , edit_gallery_path(@gallery) %> 
<%= link_to "Delete" , @gallery, method: :delete %> <!--polymorphic path instead of gallery_path(@gallery) 
                                                        takes a class name, lowercases it, and 
                                                        creates a url contextually-->
<%= link_to "Add new image" , new_gallery_image_path(@gallery) %> <!--syntax for nested path
<!--{method: :delete} where method is a key and :delete is a symbor for the delete method -->

<% @gallery.images.each do |image| %>
<p> <%= image.name %> : </p>
<p> stuff <%= image.description %></p>
<img src="<%= image.url %>" >
<% end %> 


